﻿@model HelpPage.Controllers.Method

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/bootstrap.css">
    <title>Подробнее</title>
</head>
<body>
    <div class="row-fluid">
        <h4>@Model.Name</h4>
        <hr />
        <div class="row-fluid">
            <div class="span8 offset2">
               
                <dl class="dl-horizontal">
                    <dt>
                        Имя метода
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>

                    <dt>
                        Описание методы
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                </dl>
                <h3 style="color:darksalmon">Результат ответа</h3>
                <table class="table table-hover">

                    <tr class="warning">
                        <th>
                            Имя параметра
                        </th>
                        <th>
                            Описание
                        </th>
                        <th>
                            Тип данных
                        </th>
                    </tr>
                    <tr class="warning">
                        <td>
                            @Html.DisplayFor(modelItem => Model.Returned.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Returned.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model.Returned.Type)
                        </td>
                    </tr>
                </table>
                <h3 style="color:darksalmon">Параметры запроса</h3>
                <table class="table table-hover">
                    <tr class="success">
                        <th>
                            Имя параметра
                        </th>
                        <th>
                            Описание
                        </th>
                        <th>
                            Тип данных
                        </th>
                    </tr>
                    @foreach (var parameters in Model.Parametrs)
                    {
                        <tr class="success">
                            <td>
                                @Html.DisplayFor(modelItem => parameters.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => parameters.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => parameters.Type.Name)
                            </td>
                        </tr>
                    }
                </table>

                <p>
                    @Html.ActionLink("Вернуться назад....", "Index")
                </p>
            </div>
        </div>
    </div>

</body>
</html>
