﻿@model IEnumerable<HelpPage.Controllers.Method>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Styles/bootstrap.css">
    <title>Index</title>
</head>
<body>

    <div class="row-fluid">
        <div class="span8 offset2">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.ActionLink("Подробнее...", "Edit", item)
                        </td>
                    </tr>
                }
            </table>
            </div>
        </div>
</body>
</html>
